.section {
    &__contact {
        padding: 80px;

        @media only screen and (max-width: 1280px) {
            padding: 40px;
        }

        @media only screen and (max-width: 768px) {
            padding: 20px 0 80px 20px;
            overflow: hidden;
        }

        &-card {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }

            @media only screen and (max-width: 1024px) {
                object-fit: cover;
                scroll-snap-align: start;
                scroll-snap-stop: always;
                flex-shrink: 0;
            }
        }

        &-title {
            font-size: 1.75rem;
            margin-bottom: 40px;

            @media only screen and (max-width: 768px) {
                padding-right: 20px;
            }
        }

        &-heading {
            font-size: 1.375rem;
            margin-top: 40px;
            padding-bottom: 20px;

            @media only screen and (max-width: 768px) {
                margin-top: 20px;
                font-size: 1rem;
            }
        }

        &-img {
            height: 507px;
            width: 292px;

            @media only screen and (max-width: 768px) {
                width: 245px;
                height: 427px;
            }
        }

        &-btn {
            height: 55px;
            width: 55px;
            background-color: transparent;
            border-radius: 50%;
            transition: all .4s;
            pointer-events: none;
            box-shadow: 0 0 10px 3px #26262640;
            position: fixed;
            z-index: 998;
            right: 30px;
            bottom: 30px;
            opacity: 0;

            @media only screen and (max-width: 768px) {
                right: 20px;
                bottom: 20px;
            }

            &.visible {
                opacity: .7;
                visibility: visible;
                pointer-events: auto;
            }

            &:hover {
                transform: scale(1.1);
                box-shadow: 0 0 10px 3px #00000073;
                opacity: 1;
            }

            &-img {
                width: 55px;
                height: 55px;
            }
        }

        &-container {
            @media only screen and (max-width: 1024px) {
                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                scroll-behavior: smooth;
                overflow-y: hidden;
            }
        }
    }
}