:root {
    --color--white: #ffffff;
    --color--shadow: #fbfbfb63;
    --color-form-field: #fbfbfb;
    --color--beige: #9f8864;
    --color--blue: #296abf;
    --color--green: #4d6156;
    --color--gray: #6d685c;
    --color--dark-gray: #6d6d6d;
    --color--olive: #2d2e06;
}